[Unit]
Description=DIREKTSPEED-Hosting System Management Service
After=multi-user.target

[Service]
Type=idle
IgnoreSIGPIPE=False
ExecStart=/usr/local/lib/dspeed-hosting/start

[Install]
WantedBy=multi-user.target
